/*#region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root{
    --resp-primary:#9792E4;
    --respo-secondary:#0084FD;
    --respo-accent:#FCC061;
    --respo-light:#FFFFFF;
    --respo-dark:#212121;
    --respo-secondary-dark:#333333;  /*footer*/
    --respo-text:#787878;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
}

body{
    margin: 0 auto;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

[class^="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
}
/*#endregion common*/

/*#region utilities*/
*img{
    max-width: 100%;
}

.d-flex{
    display: flex;
}
.p-2{
    padding: 2rem;
}
.btn-light{

}

.btn-dark{

}

.btn-small{

}

.btn-large{

}


.container {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    /*align-items: center;*/
}
.dark-container{
    width: 100%;
    justify-content: center;
    flex-direction: row;
 }

.row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    width: 60%;
}

.row-no-wrap {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
    width: 60%;
}

.btn{
    border-radius: 20px;
    padding: 10px;
    border: none;
}

/*#endregion utilities*/


/*#region header*/
 #site_header .navigation{
    height: 75px;       
    width: 100%;   
    justify-content: space-around;
    position: relative;
    background-color: var(--respo-secondary);
}

.navigation.d-flex {
    align-content: center;
    flex-wrap: wrap;
}
ul.menu {
    font-size: 15px;
    line-height: 50px;
}

.menu li a:not(button){
    color: var(--respo-light);
}
/*.menu :last-child{
    color: black;
}*/
.hidden{ 
    
    display:none;   /*content-visibility: hidden; n ella media query faccio apparire nav*/
    position: fixed;
    top: 0;
    right: 0;
}

nav.hidden a{
    color: var(--respo-light);
}


/*#endregion header*/

/*#region featuring-first section*/

/*#endregion featutings- firstsection*/

/*#region goals-second section*/
.strategic , .development{
    width: 50%;
}
/*#endregion goals-second section*/

/*#region testimonials-third section*/
.testimonials.row.p-2 {
    flex-direction: column;
}
/*#endregion testimonials-third section*/
/*#region debug */

.debug #site_header .navigation{
    background: yellow;
}
.debug .logo{
    background-color: red;
}
.debug section.container.d-flex {
    background: violet;
}

.debug .col-4{
    border: 2px solid green;
    height: 150px;
    width: 250px;
}
.debug .col-8{
    border: 2px solid green;
    height: 150px;
    width: 580px;
}

.debug .dark-container{
   background-color: yellowgreen;
   
}



/*#endregion debug*/

/*MEDIA QUERY- desktop first*/

@media screen and (max-width:810px){
    .logo {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
    }
    ul.menu {
        display: none;
    }
    .hidden {
        /* display: none; */
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        padding: 1rem;
    }
}

@media screen and (max-width:375px){
    
}

