/*#region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --resp-primary:#9792E4;
    --respo-secondary:#0084FD;
    ---respo-card:#B5DDFF;
    --respo-accent:#FCC061;
    --respo-light:#FFFFFF;
    --respo-dark:#212121;
    --respo-secondary-dark:#333333;  /*footer*/
    --respo-text:#787878;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
}

body{
    margin: 0 auto;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

[class^="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
}
/*#endregion common*/

/*#region utilities*/

img{
    max-width: 100%;
}

.d-flex{
    display: flex;
}
.p-2{
    padding: 2rem;
}
.btn-light{

}

.btn-dark{

}


.btn-large{

}
.row {
    display: flex;
    /*gap: 1rem;*/
    width: 65%;
    flex-wrap: wrap;
    margin:0 -1rem;
    justify-content: center;
}

.row-no-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 60%;
}

.btn{
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.direction-column{
flex-direction: column;
}

/*containers*/
.dark-container{
    background-color: var(--resp-primary);
}
section.call-to-action.d-flex {
    background: var(--resp-primary);
}

.container {
    width: 100%;
    justify-content: center;
    align-items: center;
}
.dark-container{
    width: 100%;
    justify-content: center;
    flex-direction: row;
 }
.sm-container.d-flex {
    max-height: 100%;
}

/*#endregion utilities*/


/*#region header*/
 #site_header .navigation{
    height: 75px;       
    width: 100%;   
    justify-content: space-around;
    position: relative;
    background-color: var(--respo-secondary);
}

.navigation.d-flex {
    align-content: center;
    flex-wrap: wrap;
}
ul.menu {
    font-size: 15px;
    line-height: 50px;
}

.menu li a{
    color: var(--respo-light);
}
.menu li button a {
    color: var(--respo-dark);
}

.hidden{ 
    
    display:none;   /*content-visibility: hidden; n ella media query faccio apparire nav*/
    position: fixed;
    top: 0;
    right: 0;
}

nav.hidden a{
    color: var(--respo-light);
}


/*#endregion header*/

/*#region featuring-first section*/

[class^="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
}
.col-4{
    height: 200px;
    width: calc(95% / 11 * 3)
}
.col-8{
    height: 200px;
    width: calc(95% / 12 * 6);
}
 .col-6{
    height: 200px;
    width: calc(95% / 12 * 4);
}

.col-4,.col-6,.col-8{
    background: var(---respo-card);
    border-radius: 15px;
    margin: 10px;
}
.sm-container>img{
    width: 145px;
    padding-top: 61px;
    padding-right: 20px;
    
}
.item {
    padding-top: 10px;
    padding-left: 8px;
}
.item>p{
    font-size: 14px;
    line-height: 20px;

}
.item>h3 {
    padding-bottom: 10px;
    padding-top:20px ;
    font-size:16px;
}
.item>button{
    margin-top: 10px;
    background-color: var(--respo-secondary);
}



/*#endregion featutings- firstsection*/

/*#region goals-second section*/
.strategic , .development{
    width: 50%;
}

.strategic{
    align-items: flex-start;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.development{
    align-items: flex-start;
    padding: 2rem;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .row-no-wrap .development{
    border-radius: 25px;
}
/*#endregion goals-second section*/

/*#region testimonials-third section*/
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.75rem;
}
.testimonials.row.p-2 {
    flex-direction: column;
}

.col-3{
    margin-bottom: 0.5rem;
}
/*#endregion testimonials-third section*/

/*#region working- fourth section*/
.working {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card.d-flex.direction-column {
    width: calc((100% / 12) * 3);
}
.card.d-flex.direction-column.p-2 {
    margin: 10px;
}
button.more.btn {
    width: 40%;
}
/*#endregion working- fourth section*/

/*#region about us- fifth section*/
.ceo {
    display: flex;
    width: 20%;
    flex-direction: column;
}
.description {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 20px ;
}
/*#endregion about us- fifth section*/

/*#region call to action- last section*/
section.call-to-action.d-flex {
    justify-content: center;
}
.lg-container.row.direction-column.p-2 {
    align-items: center;
}
/*#endregion call to action- last section*/

/*#region footer*/
 #site_footer{
    height: 200px;
    background-color: var(--respo-secondary-dark);
    color: var(--respo-light);
 }

 .lg-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
section.last.d-flex {
    justify-content: center;
}
.lg-container.p-2 {
    align-items: center;
}

/*#endregion footer*/

/*#region debug */

.debug #site_header .navigation{
    background: yellow;
}
.debug .logo{
    background-color: red;
}
.debug section.container.d-flex {
    background: violet;
}

.debug .col-4{
    border: 1px solid green;
}
.debug .col-8{
    border: 1px solid green;
    
}
.debug .col-6{
    border: 1px solid green;
   
}
.debug .dark-container{
   background-color: yellowgreen;
   
}

.debug .row-no-wrap .development{
    background-color: wheat;
}
.debug .col-3{
    border: 1px dashed black;
}

.debug .card.d-flex.direction-column.p-2 {
    background: aqua;

}
.debug button.more.btn {
    background: violet;
}
/*#endregion debug*/

/*MEDIA QUERY- desktop first*/
@media screen and (max-width:1200px){
    .row-no-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 75%;
    }

    .row{
        width: 75%;
    }

    .card.d-flex.direction-column.p-2 {
        width: 35%;
    }
    button.more.btn {
        width: 45%;
    }
}
@media  screen and (max-width:1100px) {
    .item>h3 {
        padding-bottom: 10px;
        padding-top: 0px; 
        font-size: 16px;
    }
    .item>p {
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and(max-width:960px) {
    .item>h3 {
        padding-bottom: 10px;
        padding-top: 0px; 
        font-size: 16px;
    }
    .item>p {
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and (max-width:850px){
    .logo {
        position:absolute;
        top: 0;
        left: 0;
        padding: 1rem;
    }
    ul.menu {
        display: none;
    }
    .hidden {
        /* display: none; */
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
    }

    .row-no-wrap {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .strategic {
       padding: 0rem;
        display: flex;
        flex-direction: column;
    }
    .strategic, .development {
     width: 80%;
    }
    .development {
        align-items: flex-start;
        padding: 2rem;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row{
        width: 85%;
    }
    .card.d-flex.direction-column.p-2 {
        width: 45%;
    }
    .row.p-2 {
        padding: 0.5rem;
    }
    
}
@media screen and (max-width:746px) {
    .row {
        width: 90%;
    }
    .strategic, .development {
        width: 90%;
    }
    .row-no-wrap {
        width: 80%;
    }
    .card.d-flex.direction-column.p-2 {
        width: 80%;
    }
    .row.p-2 {
        padding: 0.5rem;
    }
    .description {
        width: 90%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .ceo {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .item>button {
        margin-top: 2px; 
    }
    .btn{
        padding: 6px;
    }
    .item>p {
        font-size: 10px;
        line-height: 13px;
    }
    
}

@media screen and (max-width:584px){
    .item>h3 {
        padding-bottom: 6px;
        padding-top: 0px;
        font-size: 14px;
    }
    .item>p {
        font-size: 10px;
        line-height: 13px;
    }
}

@media screen and (max-width:560px){
    .row {
        width: 90%;
        flex-direction: column;
    }
    
    .col-4 {
       width: 100%;
    }
    .col-6 {
        width: 100%;
     }
     .col-8 {
        width: 100%;
     }

     .strategic, .development {
        width: 100%;
    }
    .row-no-wrap {
        width: 90%;
    }
    .card.d-flex.direction-column.p-2 {
        width: 90%;
    }
    .row.p-2 {
        padding: 0.5rem;
    }
    
.item {
    padding-top: 10px;
    padding-left: 8px;
}
.item>p{
    font-size: 14px;
    line-height: 20px;

}
.item>h3 {
    padding-bottom: 10px;
    padding-top:20px ;
    font-size:16px;
}
.item>button{
    margin-top: 10px;
    background-color: var(--respo-secondary);
}
}

