/*#region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root{
    --resp-primary:#9792E4;
    --respo-secondary:#0084FD;
    --respo-accent:#FCC061;
    --respo-light:#FFFFFF;
    --respo-dark:#212121;
    --respo-secondary-dark:#333333;  /*footer*/
    --respo-text:#787878;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
}

body{
    margin: 0 auto;
}
/*#endregion common*/

/*#region utilities*/
*img{
    width: 100%;
}

.d-flex{
    display: flex;
}

.btn-light{

}

.btn-dark{

}

.btn-small{

}

.btn-large{

}

.d-wrap{
    flex-wrap: wrap;
}


/*#endregion utilities*/


/*#region header*/
 #site_header .navigation{
    height: 75px;       
    width: 100%;   
    justify-content: space-around;
    position: relative;
}

.navigation.d-flex {
    align-content: center;
    flex-wrap: wrap;
}
ul.menu {
    font-size: 15px;
    line-height: 50px;
}

.hidden{ 
    content-visibility: hidden;  /*nella media query faccio apparire nav*/
    position: fixed;
    top: 0;
    right: 0;
}

/*#endregion header*/


/*#region debug */

/*#endregion debug*/


.debug #site_header .navigation{
    background: yellow;
}
.logo{
    background-color: red;
}
.menu{
    background-color: red;

}
.container {
    background: orange;
    width: 100%;
    height: 400px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.row{  /*margin: 0 - 2rem;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

[class^="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-12{
    width: calc(100% / 5);
    border: 2px solid green;
    height: 100px;
}
.p-2{
    padding: 2rem;
}